
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.copyright {
    background: #111;
    font-size: 13px;
    text-align: center;
    color: #777;
    padding-top: 14px;
    padding-bottom: 14px;
}
